.register__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.header {
   color: rgb(255,255,255);
}

.error__null{
    display: none;
}
.error__header {
    background-color: rgba(190,0,0,0.5);
    border-radius: 5px;
    font-weight: 600;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.input__container {
   margin-top: 6px;
}

.register__form {
    display: flex;
    flex-direction: column;
}

.input {
    background-color: rgba(150,150,150,0.3);
    border-radius: 5px;
    border-width: 0;
    color: white;
    height: 30px;
    width: 185px;
}

.input::placeholder {
    color: white;
    padding-left: 10px;
}

.google__container {
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-top: 8px;
    width: 100%;
}

.google__image {
    cursor: pointer;
    height: 15px;
}

.google__button{
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    border-width: 0;
    font-weight: 700;
    justify-content: center;
    text-align: center;
}

.submit__container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}

.submit {
    align-self: center;
    background-color: rgba(255,255,255,0.3);
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    height: 40px;
    padding: 5px;
    width: 100%;
}

.control__container {
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.button {
    align-self: center;
    background-color: rgba(0,255,255,0.2);
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    height: 40px;
    padding: 5px;
}

.submit:active, .google__container:active, .button:active {
    background-color: rgb(0,0,0,0.3);
    color: rgb(255,255,255);
}

.google__button:active {
    color: rgb(255,255,255);
}