.mainImage__container {
<<<<<<< HEAD
=======
  /* background-color: rgb(255,255,255); */
>>>>>>> renderDeployment
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 40px;
<<<<<<< HEAD
  width: 100vw;
=======
  width: 90vw;
>>>>>>> renderDeployment
  height: 50vh;
}

.mainImage {
  width: 280px;
  height: 280px;
  transition: transform 1s;
}

.mainImage:hover {
  transform: rotateY(180deg);
}

@media (min-width: 1024px) {
  .mainImage {
    width: 350px;
    height: 350px;
  }
}
